<div class='w-6 h-12 bg-white absolute left-1/2 -translate-x-1/2 -bottom-4'>
  <p class='absolute text-xs -top-5 -left-1.5 uppercase'>Sroll</p>
  <div
    class='w-full h-full flex items-center pb-1 justify-end relative flex-col'
  >
    <div class='bg-black w-2 h-5 animate-bounce'></div>
    <div class='bg-white -mb-4 w-1 h-4'></div>
  </div>
</div>
