---
import { socialNetworks } from '@/utils/libs'

const navigation = [
  {
    link: '#aboutme',
    name: 'About me'
  },
  {
    link: '#projects',
    name: 'Projects'
  },
  {
    link: '#footer',
    name: 'Contact'
  }
]
---

<header class='flex justify-between items-center'>
  <div
    class='flex justify-between w-full sm:w-fit sm:flex-col sm:justify-start'
  >
    <h3 class='text-base'>{`{ GS }`}</h3>
    <div
      class='relative group text-sm sm:text-[13px] text-zinc-400 font-light -mt-1'
    >
      <p>
        gonzxlosalmeron@gmail.com
        <span
          class='group-hover:rotate-90 group-hover:text-green-500 inline-block transition duration-300 text-lg translate-y-0.5'
        >
          +
        </span>
      </p>
      <div class='group-hover:block hidden absolute right-0 sm:left-0'>
        <ul>
          {
            socialNetworks.map(({ name, link }) => (
              <li>
                <a
                  href={link}
                  class='capitalize hover:text-white'
                  target='_blank'
                  rel='noopener noreferrer'
                >
                  {name}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </div>

  <nav class='hidden sm:block'>
    <ul class='hidden sm:flex gap-8 border px-4 py-2'>
      {
        navigation.map(({ link, name }) => (
          <li>
            <a href={link} class='uppercase'>
              {name}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>
