---
import Navbar from '@/components/Navbar.astro'
import Layout from '@/layouts/Layout.astro'
import AboutMe from '@/components/AboutMe.astro'
---

<Layout title='GonSalmeron'>
  <main>
    <Navbar />
    <AboutMe />
  </main>
</Layout>
