---
import Navbar from '@/components/widgets/Navbar.astro'
import FrameIntro from '@/components/widgets/FrameIntro'
import MouseDown from '@/components/widgets/MouseDown.astro'
---

<section class='relative min-h-screen'>
  <div
    id='main-content'
    class='min-h-screen flex flex-col justify-between overflow-hidden px-8 py-4'
    style='opacity: 100;'
  >
    <Navbar />
    <div class='text-center pb-36 sm:pb-24'>
      <h5 class='text-lg uppercase'>
        <span id='descriptions-text'> </span>
        <span id='descriptions-cursor' class='animate-blink'>|</span>
      </h5>
      <h1
        id='main-name'
        class='text-7xl md:text-[5.8rem] uppercase font-bold [word-spacing:-0.8rem]'
      >
        Gonzalo Salmerón
      </h1>
    </div>
    <div class='flex justify-between'>
      <p class='hidden sm:inline-flex'>You are curious :0</p>
      <FrameIntro client:load />

      <MouseDown />
      <div class='w-full'>
        <p class='leading-[1.20rem] text-end'>
          /\_/\&nbsp;<br />
          ( o.o )<br />
          {'>'} ^ {'<'}&nbsp;
        </p>
        <div class='flex gap-4 items-center justify-end pt-2'>
          <p
            class='relative before:w-1.5 before:h-1.5 before:bg-green-500 before:absolute before:top-2 before:-left-3.5 before:rounded-full before:animate-pulse'
          >
            Available
          </p>
          <button
            id='btn-download'
            class='py-2 px-3 bg-white text-black text-sm rounded-full'
          >
            Download cv
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  import gsap from 'gsap'
  import { TextPlugin } from 'gsap/dist/TextPlugin'

  gsap.registerPlugin(TextPlugin)

  const phrases = [
    'I´m a software developer',
    'I develop web apps',
    'Also mobile apps',
    'In general I love programming',
    'I drink too much coffee',
    'Yes, I love cats'
  ]
  const tlMaster = gsap.timeline({ repeat: -1, delay: 2 })
  phrases.forEach((text) => {
    const tlText = gsap.timeline({
      repeat: 1,
      yoyo: true,
      repeatDelay: 1
    })
    tlText.to('#descriptions-text', { duration: 1, text })
    tlMaster.add(tlText)
  })

  const btnDownload = document.getElementById('btn-download')
  if (btnDownload) {
    btnDownload.addEventListener('click', () => {
      window.open('/files/cv-en-gonzalo-salmeron.pdf')
    })
  }
</script>
