---
import Footer from '@/components/Footer.astro'
import BgLines from '@/components/widgets/BgLines.astro'

import { ViewTransitions } from 'astro:transitions'
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap'
      rel='stylesheet'
    />
    <script src='@/utils/intro-animation'></script>
    <script src='@/utils/cursor-animation'></script>
    <script
      defer
      is:inline
      src='https://cloud.umami.is/script.js'
      data-auto-track='false'
      data-website-id='01678b02-d0a4-443b-992a-8d8f88db2eb6'></script>
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <ViewTransitions />
    <title>{`{GS}`}</title>
  </head>
  <body
    class='bg-black text-white antialiased font-courier relative overflow-x-hidden'
  >
    <BgLines />
    <div
      id='binary-screen'
      class='w-full min-h-screen fixed z-50 pointer-events-none'
    >
      <div id='top-part' class='bg-black'></div>
      <div id='bottom-part' class='bg-black'></div>
    </div>
    <div
      id='cursor'
      class='bg-white rounded-full fixed z-50 mix-blend-difference pointer-events-none hidden sm:block'
      style='width: 20; height: 20;'
    >
    </div>

    <slot />

    <Footer />
  </body>
</html>
